body {
    margin:0;
    background-color: var(--forge-theme-surface-container-minimum);
}

a {
    text-decoration: none;
}

.logoHeader {
    background-color: var(--forge-theme-primary);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.tylerLogo {
    height:60px;
}

#clock {
    color:#fff;
}

.fullscreenBtn {
    margin-top:10px;
}

.leftMenu {
    padding: 1rem;
}

.rightBody {
    padding: 1rem 1rem;
}

.menuCard {
    --forge-card-padding:0rem;
}

.menuHeader {
    background-color: var(--forge-theme-primary);
    color:#fff;
    padding:0.5rem;
    margin:0;
}

.noMargin {
    margin: 0;
}

.currentBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    background-color:var(--forge-theme-success-container-low);
    color:var(--forge-theme-success);
}

.medicalBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    background-color:var(--forge-theme-secondary-container);
    color:rgb(121, 92, 10);
}

.savingsBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    background-color:var(--forge-theme-info-container-low);
    color:var(--forge-theme-info)
}

.btnContainer {
    background-color: #fff;
    padding:1rem;
    border:1px solid var(--forge-theme-outline);
    border-radius: 4px;
}

.content {
    display: flex;
    align-items: center;
    gap:1rem;
    color:#fff;
}

.actionBtn {
    --forge-card-padding:0.5rem 1rem;
    --forge-card-shape:999px;
    --forge-card-background:var(--forge-theme-primary);
    margin-bottom:1rem;
    max-width:700px;
}

.scrollUpDown {
    padding:1rem;
}

.scrollUp {
    position: fixed;
    top: 10px;
    right:10px;
    width:70px;
    text-align: center;
    --forge-card-elevation:var(--forge-elevation-4);
    --forge-card-padding:0rem;
}

.scrollDown {
    position: fixed;
    bottom: 10px;
    right:10px;
    width:70px;
    text-align: center;
    --forge-card-elevation:var(--forge-elevation-4);
    --forge-card-padding:0rem;
}

.scrollContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}

.itemsHeader {
    background-color: var(--forge-theme-primary);
    color:#fff;
    padding:0.5rem;
    margin:0;
}

.categoriesContainer {
    background-color: #fff;
    padding:0rem;
    border:1px solid var(--forge-theme-outline);
    border-radius: 4px;
    margin-bottom:1rem;
}

.categoriesToolbar {
    --forge-theme-surface:var(--forge-theme-success-container-low);
    border:1px solid var(--forge-theme-success-container-high);;
    border-radius: 4px;
    text-transform: uppercase;
    color:var(--forge-theme-success);
    margin-bottom: 1rem;
}

.itemNamePrice {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
}

.itemName {
    margin:0;
}

.price {
    margin:0;
}

.quantity {
    margin:0;
}

.pricePerQuantity {
    margin:0;
}

.productImg {
    max-height:100px;
    margin-left:1rem;
}

.itemBtn {
    margin-bottom:1rem;
}

.itemFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantityFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    padding:1rem;
}

.dialog-content {
    background-color:var(--forge-theme-surface-container-minimum);
    padding: 1rem;
}

.selectQuantityDialog {
    --forge-dialog-width:60%;
}

.forge-card {
    padding:0px;
}

.quantityBtn {
    --forge-card-padding: 0;
}
